<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content override-style">
      <div class="modal-header override-style">
        <h1 class="modal-title" id="staticBackdropLabel">Contact Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4">
            <div>
              <h4 class="mb-0"><i class="fa-solid fa-chalkboard-user"></i>&nbsp;<%= admin_name %></h4>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h4 class="mb-0"><i class="fa-solid fa-phone-volume"></i>&nbsp;<%= admin_mob %></h4>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h4 class="mb-0"><a class="icon-link" href="mailto:<%= admin_email %>"><i class="fa-brands fa-google"></i></a>&nbsp;Mail</a></h4>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h4 class="mb-0"><a class="icon-link" href="<%= admin_linkedin %>"><i class="fa-brands fa-linkedin"></i></a>&nbsp;LinkedIn</h4>
            </div>
          </li>
          <li class="d-flex gap-4">
            <div>
              <h4 class="mb-0"><a class="icon-link" href="<%= admin_ig %>"><i class="fa-brands fa-instagram"></i></a>&nbsp;Instagram</h4>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer override-style">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>