<div class="container mt-5">
    <form action="/update-contact/<%=admin_id%>" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="<%=admin_name%>">
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" id="mob" name="mob" placeholder="<%=admin_mob%>">
        </div>
        <div class="mb-3">
            <label for="gmail" class="form-label">Gmail</label>
            <input type="text" class="form-control" id="mail" name="mail" placeholder="<%=admin_email%>">
        </div>
        <div class="mb-3">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <textarea class="form-control" id="linkedin" name="linkedin" placeholder="<%=admin_linkedin%>"></textarea>
        </div>
        <div class="mb-3">
            <label for="instagram" class="form-label">Instagram</label>
            <input type="text" class="form-control" id="instagram" name="instagram" placeholder="<%=admin_ig%>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>