<!--The header will go here-->
<%-include("partials/header.ejs")%>

  <!--Include your partials here-->

  <body class="index-body">
    <br>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 text">Our offerings</h1>
        <p class="lead my-3">
          Take a free demo of our lectures and notes on this page.
          Contact us for more details.
        </p>
      </div>
    </div>
    <div class="container override-featurette card-new w-80">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <!-- Content for the first column -->
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">NEET Physics</bold>
            </p>
            <p class="lead info">
              Specialized course catering to NEET aspirants, covers both Class 11 & 12 concepts.
              The curriculum is especially designed and updated according to the NEET syllabus.
              Recommended on both Class 11 & 12 levels.
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead "><i class="fa-solid fa-headset symbol"></i>&nbsp;Live Doubt Solving</li>
              <li class="list-group-item lead"><i class="fa-solid fa-book symbol"></i>&nbsp;Complete NEET Syllabus will
                be covered</li>
              <li class="list-group-item lead"><i class="fa-solid fa-file-pdf symbol"></i>&nbsp;PDF Class Notes provided
              </li>
              <li class="list-group-item lead"><i class="fa-regular fa-file-lines symbol"></i>&nbsp;Regular DPPs and
                Quizzes</li>
              <li class="list-group-item lead"><i class="fa-solid fa-inbox symbol"></i>&nbsp;Frequent PYQ Solving &
                Discussion</li>
              <li class="list-group-item lead"><i class="fa-solid fa-video symbol"></i>&nbsp; Live Online classes</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center p-3 demo-frame">
          <iframe width="100%" height="360px" src="<%=videos[0].url %>" frameborder="0" allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <a class="btn download-notes" href="<%=notes[0].url%>" style="color: var(--text-color);"
                download><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container override-featurette card-new w-80">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">JEE Physics (Basic)</bold>
            </p>
            <p class="lead info">
              Elevate your JEE performance with a focused physics course covering Class 11 topics. Emphasis
              on problem-solving and strategic techniques equips aspiring engineers for success in this competitive
              entrance exam.
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead "><i class="fa-solid fa-headset symbol"></i>&nbsp;Live Doubt Solving</li>
              <li class="list-group-item lead"><i class="fa-solid fa-book symbol"></i>&nbsp;Complete Class 11 JEE
                Syllabus will be covered</li>
              <li class="list-group-item lead"><i class="fa-solid fa-file-pdf symbol"></i>&nbsp;PDF Class Notes provided
              </li>
              <li class="list-group-item lead"><i class="fa-regular fa-file-lines symbol"></i>&nbsp;Regular DPPs and
                Quizzes</li>
              <li class="list-group-item lead"><i class="fa-solid fa-inbox symbol"></i>&nbsp;Frequent PYQ Solving &
                Discussion</li>
              <li class="list-group-item lead"><i class="fa-solid fa-video symbol"></i>&nbsp;Live Online classes</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center demo-frame">
          <iframe width="100%" height="360px" src="<%=videos[1].url%>" frameborder="0" allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <a class="btn download-notes" href="<%=notes[1].url%>" style="color: var(--text-color);"
                download><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container override-featurette card-new w-80">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">JEE Physics (Advanced)</bold>
            </p>
            <p class="lead info">
              A comprehensive course designed for JEE Advanced aspirants, offering in-depth coverage of the most
              scoring topics. The program sharpens problem-solving and exam strategies,
              ensuring a targeted and results-driven approach to excel in the toughest engineering entrance exam.
            </p>

            <ul class="list-group list-group-flush">
              <li class="list-group-item lead"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead "><i class="fa-solid fa-headset symbol"></i>&nbsp;Live Doubt Solving</li>
              <li class="list-group-item lead"><i class="fa-solid fa-book symbol"></i>&nbsp;Complete JEE (Advanced)
                Syllabus will be covered</li>
              <li class="list-group-item lead"><i class="fa-solid fa-file-pdf symbol"></i>&nbsp;PDF Class Notes provided
              </li>
              <li class="list-group-item lead"><i class="fa-regular fa-file-lines symbol"></i>&nbsp;Regular DPPs and
                Quizzes</li>
              <li class="list-group-item lead"><i class="fa-solid fa-inbox symbol"></i>&nbsp;Frequent PYQ Solving &
                Discussion</li>
              <li class="list-group-item lead"><i class="fa-solid fa-video symbol"></i>&nbsp;Live Online classes</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center demo-frame">
          <iframe width="100%" height="360px" src="<%=videos[2].url%>" frameborder="0" allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <a class="btn download-notes" href="<%=notes[2].url%>" style="color: var(--text-color);"
                download><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook">
      <div class="px-0">
        <h1 class="display-4 text">Demo Videos</h1>

        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <% for (let i=0; i < videos.length; i++) { %>
                <div class="col">
                  <div class="card shadow-sm videotab">
                    <iframe class="card-img-top" width="100%" height="225" src="<%=videos[i].url%>" title="demo video"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
                    </iframe>
                    <div class="card-body">
                      <h5 class="special-font-tab" color="var(--primary-color)">
                        <%= videos[i].title %>
                      </h5>
                      <p class="card-text special-font-tab" color="var(--primary-color)">
                        <%=videos[i].description%>
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary special-font-tab" color="var(--primary-color)">
                          <%=videos[i].duration%>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    <br>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook">
      <div class="px-0">
        <h1 class="display-4 text">Demo Notes</h1>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>Sr.No</td>
              <td>Topic</td>
              <td>Course</td>
              <td>Download</td>
            </tr>
            <% for(let i=0;i<notes.length;i++) {%>
              <tr>
                <td><%=i+1%></td>
                <td><%=notes[i].topic%></td>
                <td><%=notes[i].course%></td>
                <td><a class="btn download-notes" href="<%=notes[i].url%>" style="color: var(--text-color);"
                  download><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</a></td>
              </tr>
            <%}%>
          </table>
        </div>
      </div>
    </div>
  </body>

  <%-include("partials/footer.ejs")%>