<head>
  <!--metadata-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--stylesheets-->
  <link rel="icon" href="images/emblem_white.png" />
  <link rel="stylesheet" href="styles/main.css" />
  <link rel="stylesheet" href="styles/rating.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="script/js" href="scripts/fetchLinks.js">
  </script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/scripts/admin.js" defer></script>
  <title>Tarang's Tutorials - Admin</title>
</head>

<body class="admin-body">
  <nav class="navbar navbar-color-override navbar-expand-lg">
    <div class="container-fluid nav-container-fluid brand">
      <a class="navbar-brand new-link header-home-icon">
        <img src="images/emblem_white.png" width="93" height="95" />
        <b class="text"> Tarang's Tutorials </b>
      </a>
      <button class="navbar-toggler navbar-toggler-override" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars" style="color: #fff; font-size: 28px"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-nav-override me-auto mb-2 mb-lg-0">
          <li class="nav-item spaced">
            <a class="nav-link nav-text header-home"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
          </li>
          <li class="nav-item spaced">
            <a class="nav-link nav-text header-portfolio"><i class="fa-solid fa-user-tie active"></i>&nbsp;Portfolio</a>
          </li>
          <li class="nav-item spaced">
            <a class="nav-link nav-text header-testimonials active" aria-current="page"><i
                class="fa-regular fa-comments"></i>&nbsp;Testimonials</a>
          </li>
          <li class="nav-item spaced">
            <a class="nav-link nav-text header-courses active" aria-current="page">
              <i class="fa-solid fa-book-bookmark"></i>&nbsp;Courses
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link nav-text dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;Tools
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateDetailsModal">Update Personal
                  Details</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateVideoModal">Update Videos</a>
              </li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateNotesModal">Update Notes</a>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link nav-text" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <i class="fa-solid fa-phone-volume"></i>&nbsp;Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container px-4 py-5 instructions" id="icon-grid">
    <h2 class="pb-2 border-bottom">Instructions & Guide</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-user-check"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Verified</h3>
          <p>
            If you are seeing this, you are verified and on a secured
            portal.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Tools</h3>
          <p>Use the tools option in the navbar to make changes to the website.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Navigation</h3>
          <p>Use the navbar to navigate to various pages and view your changes.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-address-book"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Details</h3>
          <p>Change your personal details using <b>Tools > 'Update Personal Details'</b> and see
            the changes reflect in the 'Contact' section.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-video"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Videos</h3>
          <p>Update your demo videos using <b>Tools > 'Update Videos'</b> and see them reflect on the
            'Courses' page.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-file-pdf"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Notes</h3>
          <p>Update your demo notes using <b>Tools > 'Update Notes'</b> and see them
            reflect on the 'Courses' page.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-database"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Secure</h3>
          <p>All data you upload or change through this portal is secure
            on our cloud.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="fa-solid fa-check"></i>
        </div>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Confirm</h3>
          <p>Before you make changes, confirm that you are willing to do so in each form.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid response-panel p-3">
    <h1>Response Panel</h1>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>Sr.No</td>
          <td>Author</td>
          <td>Created At</td>
          <td>Comment</td>
          <td>Rating</td>
          <td>Mail</td>
          <td>Response</td>
        </tr>
        <% for(let i=0;i<reviews.length;i++) {%>
          <tr>
            <td>
              <%=i+1%>
            </td>
            <td>
              <%=reviews[i].author%>
            </td>
            <td>
              <%=reviews[i].createdAt%>
            </td>
            <td>
              <%=reviews[i].comment%>
            </td>
            <td>
              <%=reviews[i].rating%>
            </td>
            <td>
              <%=reviews[i].mail%>
            </td>
            <td>
              <a class="btn btn-primary" href="mailto:<%=reviews[i].mail%>">Respond</a>
            </td>
          </tr>
          <%}%>
      </table>
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook">
      <div class="px-0">
        <h1 class="mb-4">Delete a Review</h1>
        <p class="fs-6">
          Only delete reviews for maintainence purposes. If you think that the remarks or comments
          in the review are derogatory or unnecessary, you may want to delete it. However, it is
          important to maintain business transparency.
        </p>
        <form action="/delete-review" method="POST" validate>
          <div class="mb-3">
            <label for="mail" class="form-label">Author's Mail</label>
            <input type="text" class="form-control" id="email" name="mail" required>
          </div>
          <button type="submit" class="btn btn-primary" id="delete-review" disabled>Delete</button>
        </form><br>
        <p>Before you delete the review, press Confirm to confirm your action.
          <button class="btn btn-danger"
            onclick="document.getElementById('delete-review').disabled=false">Confirm</button>
        </p>
      </div>
    </div>
  </div>
  <!--bs popper.js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
<%-include('partials/contactmodal.ejs')%>
  <%-include('partials/updateVideo.ejs')%>
    <%-include('partials/updateNotes.ejs')%>
      <%-include('partials/updatePersonalDetails.ejs')%>